<h1>Welcome to Twitter!</h1>
<p>Good day!</p>


<div class="container">

  <form name="input" action="/user" method="post">
    <label>Username:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="text" name="password"><br>
    <input type="submit" value="Log in">
  </form>

  <a href="/signup" id="signup-button">Sign up</a>

</div>

